/Output/build/
/Output/nbproject/private/
/dist/
/ProjectWizard/build/
/ProjectWizard/nbproject/private/
/module22/build/
/module22/nbproject/private/
/module23/build/
/module24/build/
/module23/nbproject/private/
/module24/nbproject/private/
/module25/nbproject/private/
/WizardWi/nbproject/private/
/WizardWi/build/
/AdditionalFileTemplates/build/
/AdditionalFileTemplates/nbproject/private/
/NuevoArchivoWizard/build/
/NuevoArchivoWizard/nbproject/private/
/ArbolProyectos/build/
/RSyntaxTextArea-Language-Support/build/
/AutoComplete/build/
/AutoComplete/nbproject/private/
/RSyntaxTextArea-Language-Support/nbproject/private/
/RSyntax/build/
/LookupAux/build/
/LookupAux/nbproject/private/
