/Output/build/
/Output/nbproject/private/
/dist/
/ProjectWizard/build/
/ProjectWizard/nbproject/private/
/module22/build/
/module22/nbproject/private/
/module23/build/
/module24/build/
/module23/nbproject/private/
/module24/nbproject/private/
/module25/nbproject/private/
/WizardWi/nbproject/private/
/WizardWi/build/
/AdditionalFileTemplates/build/
/AdditionalFileTemplates/nbproject/private/
/NuevoArchivoWizard/build/
/NuevoArchivoWizard/nbproject/private/
/ArbolProyectos/build/
/RSyntaxTextArea-Language-Support/build/
/AutoComplete/build/
/AutoComplete/nbproject/private/
/RSyntaxTextArea-Language-Support/nbproject/private/
/RSyntax/build/
/LookupAux/build/
/LookupAux/nbproject/private/
/Git/build/
/Git/nbproject/private/
/HelpSection/nbproject/private/
/HelpSection/build/
/gson/build/
/javafx.base/build/
/javafx.graphics/build/
/javafx.swing/build/
/javafx.controls/build/
/javafx.web/build/
/javafx-swt/build/
/javafx.web/nbproject/private/
/javafx.swing/nbproject/private/
/javafx.controls/nbproject/private/
/javafx.graphics/nbproject/private/
/javafx.base/nbproject/private/
/javafx/build/
/HelloFX/nbproject/private/
/HelloFX/build/
/PDFBox/build/
